footer{
    position:fixed;
    bottom:0;
    left:0;
    width:100%;
    height:30px;
    padding:5px;
    box-shadow: 0 3px 2px 1px rgba(0, 0, 0, .6);
    z-index: 100;
    background-image:-webkit-linear-gradient(
        top, 
        rgb(0, 0, 0), 
        rgb(50, 50, 50)
    );
    background-image:linear-gradient(
        top, 
        rgb(0, 0, 0), 
        rgb(50, 50, 50)
    );
    
    color:rgb(220,220,220);
}

footer h3{
    margin:0;
    padding:0;
    font-size:30px;
}