/*
    CSS for the davesNotHere module.
    Do not leave file empty.
*/

.davesNotHere-module{
    height:100%;
}

.davesNotHere-module img{
    height:200px;
    position:absolute;
    top:calc(50% - 100px);
    left:calc(50% - 150px);
    -ms-transform: rotate(7deg); /* IE 9 */
    -moz-transform: rotate(7deg); /* FF */
    -webkit-transform: rotate(7deg); /* Chrome, Safari, Opera */
    transform: rotate(7deg);
}
